# Git
.git
.gitignore

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
*.py[cod]
*$py.class
.pytest_cache
.coverage
htmlcov
.env
.venv
venv/
ENV/

# IDE
.idea
.vscode
*.swp
*.swo
.DS_Store

# Project specific
temp/
*.log 